<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <form action="/chats" method="post">
        <label for="from">From : </label>
        <input type="text" name="from" placeholder="From" required>
        <label for="to">To : </label>
        <input type="text" name="to" placeholder="To" required>
        <br><br>
        <label for="msg">Message : </label><br>
        <textarea rows="10" cols="50" name="msg" id="" placeholder="Enter your Message here........"></textarea>
        <br><br>
        <button>SEND</button>
    </form>
</body>

</html>